h1 {
  font-family: "Times New Roman", Times, serif;
  text-align: left;;
  text-decoration: underline;
}
h3 {
  font-family: "Times New Roman", Times, serif;
  text-align: left;
}
p {
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
}
.mainMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.mainMenu li {
    float: left;
}

.mainMenu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.mainMenu li a:hover {
    background-color: #111;
}
