h1 {
  font-family: "Times New Roman", Times, serif;
  text-align: right;
  text-decoration: underline;
}
h3 {
  font-family: "Times New Roman", Times, serif;
  text-align: right;
}
p {
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
}
