body {
    background: #000000;
}

#menu {
    width: 50%;
    margin:auto;
    background: #062F4F;
    height: 10%;
}

#menu li {
    list-style: none;
    display: inline;
    padding-left: 30px;
}

#menu li a {
    color: #B82601;
    text-decoration: none;
}
