body {
    background: #000000;
}

#menu ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    width: 50%;
}

#content {
    //background-color: #f1f1f1;
    width: 50%;
    margin: auto;
    color: #AED9E0;
}

#content a {
    color: #AED9E0;
}

#content a:visited {
    color: #AED9E0;
}
#menu li {
    float: left;
}

#menu li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #AED9E0;
}

#menu li a:visited {
    color: #AED9E0;
}

#menu li a:hover {
    background: #FFA69E;
}
