#FacebookFeed, #TwitterFeed, #InstagramFeed {
    display: inline-block;
    margin-left: 30px;
}

.TwitterTab, .FacebookTab, .InstagramTab {
    list-style: none;
    display: inline-block;
}

.screenName {
    display: inline-block;
}

.logo {
    width: 29px;
    height: 29px;
    vertical-align: middle;
    padding: 15px 15px 15px 15px;
    display: inline-block;
}