.dropdown-menu {
    background-color: #616161;
    border: none
}

.dropdown-menu .dropdown-header {
    padding: 5px 20px;
    font-size: 14px;
    font-weight: 700;
    color: #aab2bd
}

.dropdown-menu li a {
    padding: 5px 20px;
    color: #fff
}

.dropdown-menu .active a,
.dropdown-menu .active a:focus,
.dropdown-menu .active a:hover,
.dropdown-menu li a:focus,
.dropdown-menu li a:hover {
    color: #fff;
    background-color: #656d78;
    outline: 0
}

.dropdown-menu .disabled a,
.dropdown-menu .disabled a:focus,
.dropdown-menu .disabled a:hover {
    color: #656d78;
    cursor: default
}

.dropdown-menu .divider {
    background-color: #656d78;
    border-bottom: none
}

.dropup .dropdown-menu {
    margin-bottom: 0;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0
}

.dropdown-submenu {
    position: relative
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    border-radius: 0 4px 4px;
    -webkit-border-radius: 0 4px 4px;
    -moz-border-radius: 0 4px 4px
}

.dropdown-submenu:hover .dropdown-menu {
    display: block
}

.dropup .dropdown-submenu .dropdown-menu {
    top: auto;
    bottom: 0;
    margin-top: 0;
    margin-bottom: -2px;
    border-radius: 4px 4px 4px 0;
    -webkit-border-radius: 4px 4px 4px 0;
    -moz-border-radius: 4px 4px 4px 0
}

.dropdown-submenu>a:after {
    display: block;
    float: right;
    width: 0;
    height: 0;
    margin-top: 5px;
    margin-right: -10px;
    content: " ";
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #fff
}

.dropdown-default .dropdown-submenu>a:after {
    border-left-color: #434a54
}

.dropdown-submenu:hover a:after {
    border-left-color: #fff
}

.dropdown-submenu.pull-left {
    float: none
}

.dropdown-submenu.pull-left .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    border-radius: 4px 0 4px 4px;
    -webkit-border-radius: 4px 0 4px 4px;
    -moz-border-radius: 4px 0 4px 4px
}

* {
    font-family: 'Open Sans', sans-serif
}

.navFlat {
    background-color: #EDEDED;
    background-image: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-width: 5px;
    font-weight: 200;
    border-bottom-color: #C3C3C3
}

.navbar .nav>.active>a,
.navbar .nav>.active>a:focus,
.navbar .nav>.active>a:hover {
    box-shadow: none;
    color: #666;
    margin-top: 1px;
}

.membersNav {
    text-decoration: underline
}

.programs {
    position: absolute;
    font-size: 22pt;
    color: #fff;
    margin-top: -370px
}

.btn-learnmore {
    margin-top: 22px;
    padding: 4px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #FFF;
    text-align: center;
    cursor: pointer;
    background-color: #1ABC9C;
    border-width: 4px;
    border-style: solid;
    -moz-border-top-colors: #1ABC9C;
    -moz-border-right-colors: #1ABC9C;
    -moz-border-bottom-colors: #16A085;
    -moz-border-left-colors: #1ABC9C;
    border-color: #1ABC9C #1ABC9C #16A085;
    border-radius: 7px;
    -webkit-transition: transform .25s;
    transition: transform .25s
}

.btn-learnmore.btn-learnmore:hover,
.btn-learnmore:hover {
    transform: scale(1.08)
}

.ourProgramsHeader {
    height: 80px;
    width: 940px;
    overflow: hidden
}

.contentBlock {
    margin-left: 0;
    width: 940px;
    height: 180px;
    background-color: #fff
}

.contentBlock.dark {
    background-color: #F1F1F1
}

.contentBlock.team254 {
    background-color: #F1F1F1;
    height: 135px
}

.contentLogo {
    width: 200px;
    height: 150px;
    float: left;
    margin-left: 50px;
    margin-top: 30px
}

.contentLogo.right {
    width: 200px;
    height: 200px;
    float: right;
    margin-right: 50px
}

.contentIMG {
    width: 120px;
    height: 120px
}

.contentIMG.vex {
    width: 180px;
    height: 110px;
    margin-top: 10px;
    margin-left: -22px
}

.contentHeader {
    margin-top: 45px;
    font-size: 16px;
    font-weight: 700;
    color: #000
}

.contentHeader.First {
    margin-left: 40px;
    width: 550px
}

.contentHeader.footer {
    color: #fff;
    height: 30px;
    margin-top: -20px;
    padding-bottom: 0;
    padding-top: 20px;
    font-size: 15px;
    margin-bottom: 4px;
}

.contentText {
    font-size: 13px;
    width: 95%
}

.contentText.footer {
    color: #fff;
    margin-top: 0;
    padding-top: 0;
    text-align: top;
    font-size: 14px
}

.contentText.First {
    margin-left: 40px;
    width: 550px
}

.contentText.team254 {
    padding: 14px 12px;
    font-size: 17.4px;
    line-height: 27px;
    margin-top: -6px;
}

.visitSite {
    outline: 0;
    padding: 1px 16px;
    font-size: 13px;
    line-height: 20px;
    color: #3498DB;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    -moz-border-top-colors: #3498DB;
    -moz-border-right-colors: #3498DB;
    -moz-border-bottom-colors: #3498DB;
    -moz-border-left-colors: #3498DB;
    border-color: #3498DB;
    border-radius: 5px;
    -webkit-transition: background-color .25s, color .25s, transform .25s;
    transition: background-color .25s, color .25s, transform .25s
}

.visitSite:hover {
    background-color: #3498DB;
    color: #fff;
    transform: scale(1)
}

.visitSite.downloadInfo {
    background-color: #636a74;
    padding: 4px 10px;
    font-size: 13px;
    color: #fff;
    font-weight: 400;
    border-width: 1px;
    border-style: none;
    -moz-border-top-colors: #fff;
    -moz-border-right-colors: #fff;
    -moz-border-bottom-colors: #fff;
    -moz-border-left-colors: #fff;
    border-color: #fff;
    border-radius: 6px;
    -webkit-transition: background-color .25s, color .25s, transform .25s;
    transition: background-color .25s, color .25s, transform .25s
}

.downloadInfo.downloadInfo:hover {
    background-color: #eee;
    color: #636a74;
    transform: scale(1);
}

.visitSite.Members {
    background-color: #EDEDED;
    color: #777;
    font-size: 14px;
    font-weight: 500;
    text-shadow: .4px .4px #777;
    padding: 2px 8px 3px 7px;
    border-width: 1px;
    border-style: solid;
    -moz-border-top-colors: #777;
    -moz-border-right-colors: #777;
    -moz-border-bottom-colors: #777;
    -moz-border-left-colors: #777;
    border-color: #777;
    border-radius: 6px;
    margin-top: -4px;
    margin-bottom: -2px;
    -webkit-transition: background-color .25s, color .25s, transform .25s;
    transition: background-color .25s, color .25s, transform .25s
}

.Members.Members:hover {
    background-color: #777;
    color: #EDEDED
}

.firstLogo {
    height: 150px;
    width: 200px;
    float: right;
    margin-top: -70px;
    margin-right: 40px
}

.socialMedia {
    margin-top: -50px;
    float: right;
    width: 60px;
    height: 60px;
    padding-right: 13px;
    position: relative;
    cursor: pointer;
    opacity: 1;
    z-index: 10000;
    -webkit-animation: mediaOne 1s;
    animation: mediaOne 1s;
    -webkit-transition: background-color .25s, color .25s, transform .25s;
    transition: background-color .25s, color .25s, transform .25s
}

.socialMedia.socialMedia:hover {
    background-color: none;
    color: none;
    transform: scale(1.1)
}

@-webkit-keyframes mediaOne {
    0% {
        background: 0 0;
        left: 0;
        top: 0;
        opacity: 0
    }
    100% {
        background: 0 0;
        left: 0;
        top: 0;
        opacity: 1
    }
}

@keyframes mediaOne {
    0% {
        background: 0 0;
        left: 0px;
        opacity: 0
    }
    100% {
        background: 0 0;
        left: 0;
        opacity: 1
    }
}

.socialMedia1 {
    margin-top: -50px;
    float: right;
    width: 65px;
    height: 65px;
    padding-right: 13px;
    position: relative;
    cursor: pointer;
    opacity: 1;
    z-index: 10000;
    -webkit-animation: mediaTwo 1s;
    animation: mediaTwo 1.2s;
    -webkit-transition: background-color .25s, color .25s, transform .25s;
    transition: background-color .25s, color .25s, transform .25s
}

.socialMedia1.socialMedia1:hover {
    background-color: none;
    color: none;
    transform: scale(1.1)
}

@-webkit-keyframes mediaTwo {
    0%,
    20% {
        background: 0 0;
        left: 0;
        top: 0;
        opacity: 0
    }
    100% {
        background: 0 0;
        left: 0;
        top: 0;
        opacity: 0;
        opacity: 1
    }
}

@keyframes mediaTwo {
    0%,
    20% {
        background: 0 0;
        left: 0;
        top: 0;
        opacity: 0
    }
    100% {
        background: 0 0;
        left: 0;
        top: 0;
        opacity: 1
    }
}

.socialMedia2 {
    margin-top: -50px;
    float: right;
    width: 65px;
    height: 65px;
    padding-right: 40px;
    position: relative;
    cursor: pointer;
    opacity: 1;
    z-index: 10000;
    -webkit-animation: mediaThree 1.4s;
    animation: mediaThree 1.5s;
    -webkit-transition: background-color .25s, color .25s, transform .25s;
    transition: background-color .25s, color .25s, transform .25s
}

.socialMedia2.socialMedia2:hover {
    background-color: none;
    color: none;
    transform: scale(1.1)
}

@-webkit-keyframes mediaThree {
    0%,
    30% {
        background: 0 0;
        left: 0;
        top: 0;
        opacity: 0
    }
    100% {
        background: 0 0;
        left: 0;
        top: 0;
        opacity: 1
    }
}

@keyframes mediaThree {
    0%,
    30% {
        background: 0 0;
        left: 0px;
        opacity: 0
    }
    100% {
        background: 0 0;
        left: 0;
        opacity: 1
    }
}

.blog {
    width: 940px;
    height: 320px
}

.blog.IMGblur {
    height: 320px;
    width: 940px;
    margin-left: 0;
    margin-top: 0;
    overflow: hidden;
    -webkit-filter: blur(2px) brightness(100%);
    filter: blur(2px) brightness(100%)
}

.blogContent {
    height: 320px;
    width: 940px;
    margin-top: -330px;
    margin-left: 20px;
    position: absolute;
    z-index: 10
}

.blogHeading {
    color: #fff;
    font-size: 32px;
    font-weight: 800;
    padding: 100px 50px 0;
    -webkit-filter: blur(0) brightness(100%);
    filter: blur(0) brightness(100%)
}

.blogText {
    color: #fff;
    font-size: 22px;
    font-weight: bolder;
    margin-top: 20px;
    padding: 0 50px 15px;
    font-style: italic;
    -webkit-filter: blur(0) brightness(100%);
    filter: blur(0) brightness(100%)
}

.blogpost {
    width: 940px;
    margin-left: 0;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
    padding: 0 50px 30px;
    -webkit-filter: blur(0) brightness(100%);
    filter: blur(0) brightness(100%)
}

.parallax {
    overflow: hidden;
    width: 940px;
    margin-top: -300px
}

.sketch {
    position: absolute;
    margin-left: 800px;
    margin-top: -324px;
    font-size: 22pt;
    color: #fff
}

.robotIMG {
    cursor: pointer;
    -webkit-transition: all .25s;
    transition: all .25s;
    display: inline-block;
    width: 12%;
    box-sizing: border-box;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

.robotIMG:hover {
    background-color: none;
    transform: scale(1.05)
}

.robotIMG > img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

.robotIMG > a > .robotText {
    color: #fff;
    transition: all 0.25s;
    margin-top: -3px;
    width: 99%;
    font-size: 13px;
    transition: all 0.25s;
}

.robotIMG:hover > a > .robotText {
    color: #030303 !important;
    text-decoration: none !important;
}

.arrow {
    cursor: pointer;
    max-height: 100px;
    padding-top: 18px;
    -webkit-transition: transform .25s;
    transition: transform .25s
}

.arrow.arrow:hover {
    background-color: none;
    color: none;
    transform: scale(1.15)
}

.slider {
    display: inline;
    width: 730px;
    height: 180px;
    overflow: hidden;
    margin-right: 0;
    padding-right: 0
}

.sliderValue {
    margin-left: -10px;
    width: 100px
}

.carousel-control {
    opacity: 0;
    top: 45%;
    line-height: 27px;
    -webkit-transition: transform .25s, color .25s, background-color .25s, opacity .25s;
    transition: transform .25s, color .25s, background-color .25s, opacity .25s
}

.blogPicture {
    height: 320px!important;
    width: 950px;
    margin-left: -2px;
    max-width: 110%;
    -webkit-filter: blur(2px) brightness(70%);
    filter: blur(2px) brightness(70%);
    opacity: .5
}

.link {
    height: 15px!important;
    width: 15px;
    padding-bottom: 5px
}

.background {
    background: linear-gradient(to right, #000, #096099)
}

.carousel.fade {
    opacity: 1
}

.carousel.fade .item {
    -moz-transition: opacity ease-in-out .7s;
    -o-transition: opacity ease-in-out .7s;
    -webkit-transition: opacity ease-in-out .7s;
    transition: opacity ease-in-out .7s;
    left: 0!important;
    opacity: 0;
    top: 0;
    position: absolute;
    width: 100%;
    display: block!important;
    z-index: 1
}

.carousel.fade .item:first-child {
    top: auto;
    position: relative
}

.carousel.fade .item.active {
    opacity: 1;
    -moz-transition: opacity ease-in-out .7s;
    -o-transition: opacity ease-in-out .7s;
    -webkit-transition: opacity ease-in-out .7s;
    transition: opacity ease-in-out .7s;
    z-index: 2
}

.navbar {
    float: left;
    width: 940px;
    background-color: #EDEDED;
    background-image: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-width: 5px;
    font-weight: 200;
    border-bottom-color: #C3C3C3;
    margin-bottom: 0
}

.navbar-inner {
    float: left;
    width: 920px;
    background-image: none;
    background-color: #EDEDED;
    border-bottom-color: #c3c3c3;
    border-bottom-style: solid;
    border-width: 0 0 4px;
    border-radius: 0;
    padding-right: 0
}

.navbar .nav {
    font-size: 15px;
    font-weight: 200
}

.navbar .nav>li>a {
    text-shadow: .1px .1px #777;
    color: #777;
    padding: 13px 14px 11px
}

.container.main {
    border-width: 0;
    overflow-x: hidden
}

.preheader .container {
    height: inherit;
    width: 940px
}

div > a {
    text-decoration: none;
}

* {
    text-decoration: none !important;
}

.preheader .logo img {
    height: 90px;
    margin-left: 290px;
    margin-top: 15px;
}

.preheader {
    height: 140px;
}

.preheader img.skyline {
    height: 48px;
}