* {
    font-family: monospace;
}

html {
    height: 100%;
}

body {
    background: #000000;
    height: 100%;
}

#header {
    color: #fff;
    text-align: center;
}

#menu {
    padding: 10px 0;
    width: 80%;
    margin: auto;
    background-color: rgb(255, 100, 100);
}

#menu ul {
    margin: 0;
    padding: 0;
}

#menu ul li {
    display: inline-block;
}

#menu a {
    line-height: 40px;
    padding: 0 12px;
    margin: 0 12px;
    color: #fff;
    text-decoration: none;
}

#menu a:hover,
#menu a:focus,
#menu a:active {
    color: rgb(50, 50, 50);
}

#content {
    background-color: #fff;
    width: 80%;
    margin: auto;
    overflow: auto;
    text-align: center;
}

#content img {
    width: 25%;
    margin: 1%;
}